<link rel="stylesheet" href="/static/css/app.css">
<div
  id="viewDisplayRoot"
  data-initial-users="<%- encodeURIComponent(JSON.stringify(users || [])) %>"
  data-voice-event-path="<%- encodeURIComponent(voiceEventPath || '/voice/events') %>"
></div>
<script src="/static/js/viewDisplay.js"></script>
